<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>dialogue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/plugin/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<script>
    $(function() {
        $("#submit").on('click', function () {
            var sendMessage = document.getElementById("sendMessage").value;
            if (sendMessage.length == 0) {
                alert("发送信息不能为空！");
                return false;
            }
        });
    })
</script>
<script type="text/javascript">
    function scroll() {
        var div = document.getElementById('scrolldIV');
        div.scrollTop = div.scrollHeight;
    }
</script>
<body onload="scroll()">
<div th:replace="include/header :: myheader" ></div>
<div class="main-content item-box">
    <div class="item-type" style="height: 630px;background: #FFFFFF">
        <div class="column-item-title layui-row subject-color font-color1 font-bold">消息列表</div>
        <div th:each="dialogueList:${dialogueLists}">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <img class="media-object img-rounded" style="width: 100px;margin-top: 18px;margin-left: 20px"
                             th:src="@{${dialogueList.userPhoto}}">
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/dialogue/'+ ${dialogueList.userId}}" style="color: #0f0f0f;text-decoration:none">
                            <h4 class="media-heading" style="margin-top: 18px">[[${dialogueList.userName}]]</h4>
                            <span style="color: #999;font-size: 14px">[[${#dates.format(dialogueList.lastSendTime,'yyyy-MM-dd  HH:mm:SS')}]]</span><br>
                            <span style="color: #999;font-size: 14px">
                                [[${dialogueList.lastSenderName}]]:[[${dialogueList.lastSendMessage}]]
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-list" id="scrolldIV" style="height:469px;width:895px;background: #FFFFFF;overflow-y:auto; overflow-x:auto">
        <div th:each="dialogueDTO:${dialogueDTOs}">
            <div th:if="${dialogueDTO.senderId == session.user.userId}" style="float:right">
                <span style="float: right;margin-right: 20px">[[${#dates.format(dialogueDTO.sendTime,'yyyy-MM-dd  HH:mm:SS')}]]</span><br>
                <img th:src="@{${dialogueDTO.senderPhoto}}" class="img-rounded" style="height: 40px;width: 60px;margin-right: 20px;float: right;margin-top: 5px">
                <span style="margin-right: 20px;float: right" class="alert alert-success" role="alert">[[${dialogueDTO.sendMessage}]]</span>
            </div>
            <div th:if="${dialogueDTO.senderId == receiver.userId}" style="float:left">
                <span style="float:left;margin-left: 20px">[[${#dates.format(dialogueDTO.sendTime,'yyyy-MM-dd  HH:mm:SS')}]]</span><br>
                <img th:src="@{${dialogueDTO.senderPhoto}}" class="img-rounded" style="height: 40px;width: 60px;margin-left: 20px;float: left;margin-top: 5px">
                <span style="margin-left: 20px;float: left;background: #F8F8F8" class="alert" role="alert">[[${dialogueDTO.sendMessage}]]</span>
            </div>
            <hr style="background: #FFFFFF">
        </div>
    </div>
    <div class="comment-box layui-row item-list" style="height: 160px">
        <form th:action="@{/sendMessgae}" method="post">
            <div class="textarea-box layui-row" style="margin-left: 24px">
                <textarea class="form-control" id="sendMessgae" name="sendMessgae" rows="15"></textarea>
                <input type="hidden" th:value="${session.user.userId}" name="senderId">
                <input type="hidden" th:value="${receiver.userId}" name="receiverId">
            </div>
            <div class="text-num-tips layui-row" style="margin-right: 30px">限制 <span id="fontNumberSpan">50</span> 字</div>
            <div class="common-btnbox">
                <button type="button" class="btn btn-info" style="float:right;margin-bottom: 15px"onclick = "history.back()">返回</button>
                <button type="submit" id="submit" class="btn btn-success" style="float:right;margin-bottom: 15px;margin-right: 15px">发送</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>